section {
    padding-top: 20px;
}

section .vertical-align-parent {
    display: block;
}

.reveal .h4-style {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    /*text-transform: var(--r-heading-text-transform);*/
    text-shadow: var(--r-heading-text-shadow);
    word-wrap: break-word;

}

.reveal p.smaller-bottom-margin {
    margin-bottom: 5px;
}

.table-center tr td {
    border: 0 !important;
    text-align: center;
}

.table-center thead tr {
    border-bottom: 1px solid var(--au-gray-dark);
    border-top: 1px solid var(--au-gray-dark);
}

section .vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.reveal section {
    font-size: x-large;
}

.references p {
    font-size: 20px;
}

.references ul li {
    font-size: 16px;
}

.lemma {
    background-color: #f5f5f5;
    padding: 6px;
}

.larger-font {
    font-size: xx-large;
}

.smaller-font {
    font-size: x-large;
}

.monospace {
    font-family: "Space Mono";
}

.reveal a {
    color: var(--au-blue);
}

.slides section.has-dark-background h2 {
    color: #fff;
}

.slides section.has-light-background,
.slides section.has-light-background h2 {
    color: #222;
}

.f-container{
    display: flex;
}
.f-col {
    margin: 10px;
    flex: 1;
}

.f-col img {
    margin: auto;
}

div.f-definition {
    font-weight: lighter;
    display: block;
    width: 90%;
    min-height: 60%;
    margin: 0 auto;
    font-size: smaller;
}

.f-emph {
    font-style: italic;
    font-weight: bolder;
}

div.f-definition .f-header {
    background-color: var(--au-blue-dark);
    width: 100%;
    height: 100%;
    display: block;
    padding: 3px 5px;
    color: white;
    text-align: left;
    font-weight: bolder;
}

div.f-definition .f-content {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
div.f-definition .f-content.f-conclusion {
    height: 120px;
    border-bottom: solid 1px var(--au-gray);
}

.invisible {
    opacity: 0%;
}

div.hypothesis.f-conclusion {
    margin-bottom: 1em;
}
:root {
    --au-blue: rgb(0, 61, 115);
    --au-blue-dark: rgb(0, 37, 70);
    --au-purple: rgb(101, 90, 159);
    --au-purple-dark: rgb(40, 28, 65);
    --au-cyan: rgb(55, 160, 203);
    --au-cyan-dark: rgb(0, 62, 92);
    --au-turkis: rgb(0, 171, 164);
    --au-turkis-dark: rgb(0, 69, 67);
    --au-green: rgb(139, 173, 63);
    --au-green-dark: rgb(66, 88, 33);
    --au-gul: rgb(250, 187, 0);
    --au-gul-dark: rgb(99, 75, 3);
    --au-orange: rgb(238, 127, 0);
    --au-orange-dark: rgb(95, 52, 8);
    --au-red: rgb(226, 0, 26);
    --au-red-dark: rgb(91, 12, 12);
    --au-magenta: rgb(226, 0, 122);
    --au-magenta-dark: rgb(95, 0, 48);
    --au-gray: rgb(135, 135, 135);
    --au-gray-dark: rgb(75, 75, 74);
}

section .text-blue { color: var(--au-blue); }
section .text-blue-dark { color: var(--au-blue-dark); }
section .text-purple { color: var(--au-purple); }
section .text-purple-dark { color: var(--au-purple-dark); }
section .text-cyan-dark { color: var(--au-cyan-dark); }
section .text-turkis { color: var(--au-turkis); }
section .text-turkis-dark { color: var(--au-turkis-dark); }
section .text-green { color: var(--au-green); }
section .text-green-dark { color: var(--au-green-dark); }
section .text-gul { color: var(--au-gul); }
section .text-gul-dark { color: var(--au-gul-dark); }
section .text-orange { color: var(--au-orange); }
section .text-orange-dark { color: var(--au-orange-dark); }
section .text-red { color: var(--au-red); }
section .text-red-dark { color: var(--au-red-dark); }
section .text-magenta { color: var(--au-magenta); }
section .text-magenta-dark { color: var(--au-magenta-dark); }
section .text-gray { color: var(--au-gray); }
section .text-gray-dark { color: var(--au-gray-dark); }


header { width: 100%; }
footer { width: 100%; }

header.f-header {
    position: absolute;
    padding: 0.5em;
    top: 0;
    left: 0;
    z-index: 500;
    font-size: medium;
    color: white;

    background-image: url("../assets/aulogo.svg");
    background-position: right 1.5em bottom 5px;
    background-size: 7.0em;
    background-repeat: no-repeat;
}
footer.f-footer {
    position: absolute;
    padding: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 500;
}

footer .f-progress-bar {
    display: inline-block;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

footer .f-progress-bar .f-progress-indicator {
    display: inline-block;
    height: 0.2em;
    margin: 0px 2px;
    width: 15%;
    opacity: 0.5;
}

footer .f-progress-motivation { background-color: var(--au-blue); }
footer .f-progress-algo { background-color: var(--au-purple); }
footer .f-progress-ecinn { background-color: var(--au-turkis); }
footer .f-progress-eval { background-color: var(--au-green); }
footer .f-progress-conclusion { background-color: var(--au-blue); }

.no-bar header { visibility: hidden; }
.no-bar footer { visibility: hidden; }

.motivation-header footer .f-progress-motivation { background-color: var(--au-blue-dark); opacity: 1; margin-bottom: 5px;}
.motivation-header header { background-color: var(--au-blue-dark); }
.motivation-header header:after { content: "Motivation"; }

.algo-header footer .f-progress-algo { background-color: var(--au-purple-dark); opacity: 1; margin-bottom: 5px;}
.algo-header header { background-color: var(--au-purple-dark); }
.algo-header header:before { content: "Efficient Neural Network Training"; }

.cf-header footer .f-progress-ecinn { background-color: var(--au-turkis-dark); opacity: 1; margin-bottom: 5px;}
.cf-header header { background-color: var(--au-turkis-dark); }
.cf-header header:after { content: "Counterfactual Examples"; }

.eval-header footer .f-progress-eval { background-color: var(--au-green-dark); opacity: 1; margin-bottom: 5px;}
.eval-header header { background-color: var(--au-green-dark); }
.eval-header header:after { content: "Evaluating Counterfactual Examples"; }

.conclusion-header footer .f-progress-conclusion { background-color: var(--au-blue-dark); opacity: 1; margin-bottom: 5px;}
.conclusion-header header { background-color: var(--au-blue-dark); }
.conclusion-header header:after { content: "Conclusion"; }
